project0/Shop/target/
project0/Shop/pom.xml.tag
project0/Shop/pom.xml.releaseBackup
project0/Shop/pom.xml.versionsBackup
project0/Shop/pom.xml.next
project0/Shop/release.properties
project0/Shop/dependency-reduced-pom.xml
project0/Shop/buildNumber.properties
project0/Shop/.mvn/timing.properties
project0/Shop/.flattened-pom.xml
