project0/shop/target/
project0/shop/pom.xml.tag
project0/shop/pom.xml.releaseBackup
project0/shop/pom.xml.versionsBackup
project0/shop/pom.xml.next
project0/shop/release.properties
project0/shop/dependency-reduced-pom.xml
project0/shop/buildNumber.properties
project0/shop/.mvn/timing.properties
project0/shop/.flattened-pom.xml

project1/ers/target/
project1/ers/pom.xml.tag
project1/ers/pom.xml.releaseBackup
project1/ers/pom.xml.versionsBackup
project1/ers/pom.xml.next
project1/ers/release.properties
project1/ers/dependency-reduced-pom.xml
project1/ers/buildNumber.properties
project1/ers/.mvn/timing.properties
project1/ers/.flattened-pom.xml

.gitignore

*.class

